[submodule "Code_Fights"]
	path = Code_Fights
	url = https://github.com/miketestgit02/Code_Fights
[submodule "GUI_Programs"]
	path = GUI_Programs
	url = https://github.com/miketestgit02/GUI_Programs
[submodule "Kivy"]
	path = Kivy
	url = https://github.com/miketestgit02/Kivy
[submodule "Misc"]
	path = Misc
	url = https://github.com/miketestgit02/Misc
[submodule "PyMoney"]
	path = PyMoney
	url = https://github.com/miketestgit02/PyMoney
